<nav class="navbar navbar-expand-md " style="background-color: #c069aa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: aliceblue;">NodeJS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color: aliceblue;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios" style="color: aliceblue;">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/404" style="color: aliceblue;" >Error</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"/>
        <button class="btn btn-outline-dark" type="submit" style="color: aliceblue;">Buscar</button>
      </form>
    </div>
  </div>
</nav>